<div class="container my-5">
    <h1 class="mb-3">Update new employee</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateUser()">
                <div class="mb-3">
                    <label for="id" class="form-label" hidden>Id</label>
                    <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="userDetails.id" hidden>
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userDetails.email">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userDetails.name">
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="userDetails.lastName">
                  </div>
                  <div class="mb-3">
                    <label for="budget" class="form-label">Budget</label>
                    <input type="number" class="form-control" id="budget" name="dept" [(ngModel)]="userDetails.budget">
                  </div> 
                  <div class="mb-3">
                    <label for="dept" class="form-label">Dept</label>
                    <input type="number" class="form-control" id="dept" name="budget" [(ngModel)]="userDetails.dept">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser(userDetails.id)">Delete</button>

              </form>
        </div>
    </div>
</div>