<div class="container my-5">
    <h1 class="mb-3">Add new employee</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addUser()">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="addUserRequest.firstName">
                </div>
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="addUserRequest.lastName">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" class="form-control" id="role" name="role" [(ngModel)]="addUserRequest.role">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addUserRequest.email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="addUserRequest.password">
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="addUserRequest.confirmPassword">
                  </div>
                  <div class="mb-3">
                    <label for="paidMoney" class="form-label">Paid Money</label>
                    <input type="number" class="form-control" id="paidMoney" name="paidMoney" [(ngModel)]="addUserRequest.paidMoney">
                  </div> 
                  <div class="mb-3">
                    <label for="dept" class="form-label">Dept</label>
                    <input type="number" class="form-control" id="dept" name="dept" [(ngModel)]="addUserRequest.dept">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>